.App-header {
    font-size: 1.5rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: minmax(5rem, 1fr) minmax(5rem, 1fr) minmax(5rem, 1fr) 2fr minmax(5rem, 1fr) minmax(5rem, 1fr) minmax(5rem, 1fr);
    margin: 0 auto;
    height: 20vh;
    grid-template-rows: 20vh;
    align-items: center;
    justify-content: center;
    font-family: Kollektif, sans-serif;

    --stagger-delay: 300ms;
  }
  
  .App-header a {
    text-align: center;
    text-decoration: inherit;
    color: #64666A;
    animation: wordEntrance 700ms ease-in-out;
    animation-fill-mode: backwards;
  }

  

  .App-header img {
    max-width: 300px;
    animation: wordEntrance 700ms ease-in-out;
    animation-fill-mode: backwards;
  }

.App-header a:nth-child(1) {
    animation-delay: calc(1 * var(--stagger-delay));
}

.App-header a:nth-child(2) {
    animation-delay: calc(2 * var(--stagger-delay));
}

.App-header a:nth-child(3) {
    animation-delay: calc(3 * var(--stagger-delay));
}

.App-header a:nth-child(4) {
    animation-delay: calc(0 * var(--stagger-delay));
}

.App-header a:nth-child(5) {
    animation-delay: calc(3 * var(--stagger-delay));
}

.App-header a:nth-child(6) {
    animation-delay: calc(2 * var(--stagger-delay));
}

.App-header a:nth-child(7) {
    animation-delay: calc(1 * var(--stagger-delay));
}




@keyframes wordEntrance {
    from {
      opacity: 0;
      transform: scale(0.7, 0.2);
      rotate: 5deg;

    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}