/* Pipeline Section */

.Pipeline-container {
    display: grid;
    overflow: visible;
    grid-template-columns: 1fr;
    p {
      font-size: 1.5rem;
      font-weight: 100;
      line-height: 128%;
      padding-bottom: 1rem;
    }
    .Pipeline-logo {
      padding-bottom: 2rem;
    }
    h3 {
      font-size: 3rem;
      font-weight: 900;
      line-height: 128%;
      text-align: left;
      margin: 0;
      padding-bottom: 0.5rem;
    }
    img {
      width: 100%;
    }

    .section-header-horizontal {
      display: grid;
      gap: 4rem;
      grid-template-columns: 3fr 4fr 5fr;
      justify-items: center;
      align-items: center;
      padding-bottom: 4rem;
    }
    
    .img-left-textImg-container {
      display: grid;
      gap: 2rem;
      grid-template-columns: 2fr 4fr 3fr 1fr;
      align-items: center;
      max-width: 1600px;
      margin: 0 auto;
      overflow: hidden;
      padding: 4rem 0;
      img {
        /* justify-self: end;
        align-self: end; */
        grid-column: 1 / span 2;
        padding-left: 2rem;
        
      }
      p {
        padding-bottom: 1rem;
        margin-right: 2rem;
      }
      &.pipeline-drag-container {
        grid-template-columns:  4fr 3fr !important;
      }


      
    }

    .Adapt-container {
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr 3fr 4fr 2fr;
      max-width: 1600px;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      padding: 4rem 0;
      div {
        grid-column: 2 / span 1;
      }
      img {
        grid-column: 3 / span 2;
        padding-right: 2rem;
      }
      
    }
    .Manage-container {
      display: grid;
      gap: 2rem;
      grid-template-columns: 2fr 4fr 3fr 1fr;
      align-items: center;
      justify-content: center;
      overflow: visible;
      p {
        margin-right: 2rem;
      }
      img {
        grid-column: 1 / span 2;
      }
      
    }

    .deliver-container {
      padding:5rem;
      .row-area {
        display: grid;
        grid-template-columns: 1fr 4fr ;
      }
      h3.red-color-text {
        text-align: center;
      }
    }
  }
  
  .Pipeline-container .Create-container div, .Pipeline-container .Adapt-container div  {
    max-width: 400px;
  }
  



  
  
 

@media (max-width: 1000px) {
  .pipeline-drag-container {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)) !important;
    padding:4rem  2rem;
    justify-items: center;
    gap: 0;
  }

  
    .Pipeline-container .Create-container {
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
      padding:4rem  2rem;
      justify-items: center;
      gap: 0;
    }
    .Pipeline-container .Adapt-container  {
      grid-template-columns: 1fr;
      padding:4rem  2rem;
      justify-items: center;
      gap: 0;
    }
    .Pipeline-container .Manage-container  {
      grid-template-columns: 1fr;
      padding:4rem  0rem;
      justify-items: center;
      gap: 0;
      
    }
    .Pipeline-container .deliver-container .row-area  {
      display: flex;
    }
    .Pipeline-container .createImgContainer, .Pipeline-container .Adapt-container img, .Pipeline-container .Manage-container img  {
      grid-column: auto;
      max-width: 800px;
      grid-row: 1;
    }
    .Pipeline-container .Adapt-container img {
      padding: 0;
    }

    .Pipeline-container .Manage-container img {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    
  
    .Pipeline-container .Create-container div, .Pipeline-container .Adapt-container div, .Pipeline-container .Manage-container div, .Pipeline-container h3 , .Pipeline-container .create-text {
      grid-column: auto;
      grid-row: 2;
      gap: 0;
      max-width: 300px;
      text-align: center;
      padding: 0;
      margin: 0 auto;
    }



    .Pipeline-header {
        display: grid;
        gap: 5rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        justify-items: center;
        align-items: center;
        padding: 0;
      }

      .Pipeline-header img, .Pipeline-header div {
        opacity: 1;
        width: 100%;
        padding: 0 4rem;
      }
      
  
      .Pipeline-container  .Create-container p, .Pipeline-container .Adapt-container p , .Pipeline-container .Manage-container p {
        margin-right: auto;
      }


    .Section-two {
      display: grid;
      margin: 0 auto;
      gap: 5rem;
      grid-template-columns: repeat(auto-fit, minmax(3fr, 1fr));
      align-items: center;
      justify-items: center;
      text-align: center;
      padding-bottom: 8rem;
      padding-left: 2rem;
      padding-right:2rem;
    }
    
  }
  


