
/* @media (prefers-reduced-motion: no-preference) {

} */


:root{
  --orange: #FFA933;
  --orange-text: #F2A130;
  --red: #BF5946;
  --almostBlack: #64666A;
  --backgroundOrange: #FEF7ED;
  
  /* transition: all 400ms ease-in-out; */
  -moz-osx-font-smoothing: grayscale; /*(For Firefox)*/
-webkit-font-smoothing: antialiased; /*(For Chrome and Safari)*/

}








@media (max-width: 1400px) {
 :root {
  font-size: 12px;
 }
}

@media (max-width: 400px) {
  :root {
   font-size: 10px;
  }
 }


@media (max-width: 991.98px) { 

}


@media (max-width: 1199.98px) { 



}

.orange-color-text {
  color: var(--orange-text);
}


img {
  width: 100%;
}
h1 {
  font-size: 3.5rem;
  margin: 0;
  padding: 0;
  font-family: Kollektif-Bold, sans-serif;
  /* letter-spacing: -0.05rem; */
  -moz-osx-font-smoothing: grayscale; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased; /*(For Chrome and Safari)*/
}
h2 {
  font-family: Kollektif-Bold, sans-serif;
  /* letter-spacing: -0.05rem; */
  -moz-osx-font-smoothing: grayscale; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased; /*(For Chrome and Safari)*/
}
h3 {
  font-family: Kollektif-Bold, sans-serif;
  /* letter-spacing: -0.05rem; */
  -moz-osx-font-smoothing: grayscale; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased; /*(For Chrome and Safari)*/
}
p {
  margin: 0;
  padding: 0;
  font-family: Kollektif, sans-serif;
  font-size: 1rem;
  /* letter-spacing: -0.02rem; */
  -moz-osx-font-smoothing: grayscale; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased; /*(For Chrome and Safari)*/
}
h3 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  font-weight: 900;
}

body {
  width: 100%;
  overflow-x: hidden;
}

p {
  font-size: 1.35rem;
}

.Main-container {
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}

.Full-container {
  width: 100%;
  overflow: hidden;
}

.paddingSH {
  padding-right: 5rem;
  padding-left: 5rem;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */







