@import './mdb.pro.scss';

$my-theme-primary: #314476; // theme primary color, change this value to customize theme
$my-theme-secondary: #FFA933; // theme secondary color, change this value to customize theme

$my-theme: mdb-light-theme($my-theme-primary, $my-theme-secondary); // create the new theme using primary and
// secondary colors

// include theme styles
@include mdb-theme($my-theme);


a.nav-link {
    line-height: '2rem';
    &.selected {
        color: $my-theme-secondary !important;
        text-underline-offset: 0.5rem;
    }
}

.never-selector {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
